<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kyhsgeekcode.disassembler">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:remove="android:maxSdkVersion" />

    <application
        android:name=".EnableMultidex"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kyhsgeekcode.filechooser.NewFileChooserActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1064966062299374~9116700670" /> <!-- android:name=".EnableMultidex" -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!--
            intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern="*" />
            </intent-filter
            -->
        </activity>
        <activity android:name=".SettingsActivity" />
        <!--
meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /
        -->
        <!-- activity android:name=".MadeByActivity"/ -->
        <!-- activity android:name=".OpenSourceActivity"/ -->
        <activity android:name=".FileSelectorActivity" />
        <activity android:name="com.kyhsgeekcode.rootpicker.FileSelectorActivity" />
        <activity android:name=".DonateActivity" />
    </application>

</manifest>
